.Heading{
    margin :25px 550px;

}

.Frames{
    
    padding: auto;

}
.PageRefrences{
  
    padding: auto;

}
input{
    color: black;
}
.btn{
    margin: 57px 660px;
    padding: 20px;
}

.table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table th,
  .table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #ddd;
  }
 
  table.table td.pageFault {
    background-color: red;
  }

  .pageFault{
background-color: red;
  }

 